---
layout: layouts/base.njk
section: about
---
<article>

  <header class="pb--4">
    <div class="about-title-container">
      <h1 class="about-title">{{ title }}</h1>
    </div>
  </header>

  <section>
    <div class="content-wrapper">
      {{ layoutContent | safe }}
    </div>
  </section>

</article>

<style>
  .about-title-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .about-title {
    font-size: larger;
    font-weight: 800;
  }
</style>

{# Gets appended to <head> during build #}
{# {% include "components/opengraph.njk" %} #}
